{% extends 'base.html' %} {% block title %} Add Cupcake {% endblock %} {% block
content %}

<div class="container">
  <h1 class="display-5 text-center">Add New Cupcake</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form>
        {{ cupcake_form.hidden_tag() }} {% for field in cupcake_form if
        field.widget.input_type != 'hidden' %}

        <div class="form-group">
          {{ field.label }} {{ field(class_="form-control") }} {% for err in
          field.errors %}
          <small class="form-text"> {{ err }} </small>

          {% endfor %}
        </div>

        {% endfor %}

        <br />
        <button class="add_new_cupcake btn btn-sm btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
<br />
<div class="container">
  <form>
    <label for="id_search">Search: </label>
    <input id="id_search" class="search_inp" type="text" name="search" />
  </form>
</div>

<div class="container">
  <div class="cupcake_holder"></div>
</div>

{% endblock%}
